@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  outline: none;
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  font-size: 13px;
  color: #000;
}

body {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
}

/* 기준 너비 */
.layout-width {
  min-width: 320px;
  max-width: 1150px;
  padding: 0 10px;
  margin: 0 auto;
}

/* 공통 스타일 정의 */
.flex {
  display: flex;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.w150 {
  width: 150px !important;
}

main.main-content {
  min-height: 650px;
}

.no-data {
  padding: 100px 0 !important;
  text-align: center !important;
}

/* 모달 레이어 배경 */
.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.7) !important;
}
.ReactModal__Overlay .org-image {
  width: 100% !important;
  height: auto !important;
}

.spinner {
  opacity: 0;
  animation: fadeIn 500ms 100ms forwards, rotate 1s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
